<div class="py-3">
  <h1>Edit Task</h1>
</div>

<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>

<%= link_to 'Back to list', tasks_path %>
