<div class="py-3">
  <h1>New Task</h1>
</div>

<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit "Create task", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back to list', tasks_path %>
